/* Estilos para las Impresiones de los seguimientos*/
h3{
    margin: 0;
	padding: 0;
}
.horizontal {
    display: flex; justify-content: center; width: 100%;
    
}
.hderecho {
    display: flex; justify-content: right; 
}
.centrar {
    text-align: center; /* Centra el texto dentro del div */
    margin-top: 20px;
    
}
   
.titulo {
    align-self: top, center;
    /*background-color: #af4c4c; quitar */
    text-align: center;
    
}
.cuadro{/*p*/
    border: 1px solid black;
}
.bold{
    font-weight: bold; margin-right: 10px;
}
.tabla{
    width: 100%;
}


.marriba{
    margin-top: 10px;
    
}
.subrayado{
    text-decoration: underline;
}
.nsemanas{
    width: 10%;
}
.nactividad{
    width: 5.3125%;  border: 1px solid black;
}
.centro{
    text-align: center;
}
.inciso{
    font-weight: bold; margin-top: 12px;
}

.nomargen{
    margin:  2px;
    padding: 2px;
}

tr th{
    margin: 0;
    padding: 0;
}

.cuadro table {
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

/*Estilo para el las vistas*/

.amenor{
    background-color: rgb(40, 95, 139);
    
}

.amayor{
    background-color: rgb(19, 46, 68);
}

.dato{
    font-weight: normal;
 
}

.fontmini{
    font-size: 10px;
    
}

.sin-bold {
    font-weight: normal;
    font-size: 15px;
}



